
*{
    margin: 0;
    padding: 0;
}

body{
    /* background: #2B2A33; */
    /*#42414d*/
    
    justify-items: center;
    align-items: center;
    color:black;
    font-family: 'Noto Kufi Arabic', sans-serif;

    background-image: url("./templates.webp");
    background-size: cover;

}


nav{
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 5rem;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}


section{
    min-height: 70vh;
    text-align: center;
    margin:auto;
}

section ul{
    margin:auto;
}


section ul li {
    margin: 20px auto;
}


section ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}
section ul li a :hover{
    font-weight: bolder;
    color: black;
    text-decoration: underline;

}

section ul {
    display: flex;
    flex-direction: column;
}


footer{
    margin-top: auto;
    text-align: center;
    font-family: cursive;
    
}

footer a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 2px;
    background-color: whitesmoke;
    border-radius:8% ;
    
}